@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111315;
    font-family: "DM Sans", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}